
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p id="weather-info">
          Temperature: <%= temperature %>°C, <%= weatherDescription %>
      </p>
  </div>
</div>
</body>
</html>
<script src="/footer.js"></script>