body{
    background-color: whitesmoke;
}
.top-bar {
  background-color: #1B262C;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
}

.navbar-nav  li a:hover {
  color:#BBE1FA !important;
  }

.sidebar {
  background-color:#0F4C75;
  height: 90vh;
  position: fixed;
  top: 0;
  width: 150px;
  padding-top: 20px;
  margin-top: 40px;
}

.sidebar ul {
  list-style: none;
  padding-left: 0;
}

.sidebar .nav-link {
  list-style: none;
  color: white;
}

.sidebar .nav-link i {
  margin-right: 10px;
}

.sidebar .nav-link span {
  display: inline-block;
}

@media (max-width: 800px) {
  .sidebar {
      width: 60px;
    }
    
    .sidebar .nav-link {
      text-align: center;
    }
    
    .sidebar .nav-link i {
      margin-right: 0;
    }
    
    .sidebar .nav-link span {
      display: none;
    }
}

.content {
  margin: 50px;
  padding: 20px;
}

.main-container {
  margin: auto;
}

footer {
  background-color:#1B262C;
  font-style: bold;
  color: antiquewhite;
  padding: 10px;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

#fname{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="email"]{
    border-radius: 0;
}

